/* Set the size of the div element that contains the map */
#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 400px;
  /* The width is the width of the web page */
}

.nicebox {
  position: absolute;
  text-align: center;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 13px;
  z-index: 5;
  box-shadow: 0 4px 6px -4px #333;
  padding: 5px 10px;
  background: white;
  background: linear-gradient(to bottom, white 0%, whitesmoke 100%);
  border: #e5e5e5 1px solid;
}

#data-box {
  top: 10px;
  left: 500px;
  height: 45px;
  line-height: 45px;
  display: none;
}

#legend {
  display: flex;
  display: -webkit-box;
  padding-top: 7px;
  width: 400px;
}

.color-key {
  background: linear-gradient(
    to right,
    #db4639 0%,
    #db7f29 17%,
    #d1bf1f 33%,
    #92c51b 50%,
    #48ba17 67%,
    #12ab24 83%,
    #0f9f59 100%
  );
  flex: 1;
  -webkit-box-flex: 1;
  margin: 0 5px;
  text-align: left;
  font-size: 1em;
  line-height: 1em;
}

#data-value {
  font-size: 2em;
  font-weight: bold;
}

#data-label {
  font-size: 2em;
  font-weight: normal;
  padding-right: 10px;
}

#data-label:after {
  content: ":";
}

#data-caret {
  margin-left: -5px;
  display: none;
  font-size: 14px;
  width: 14px;
}