body {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #F5FFFA;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  margin-left: 360px;
  margin-right: 340px;
  margin-bottom: 20px;
}

/* .container-2 {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 10px;
  margin-bottom: 20px;
  width: 25%;
} */

.button {
  margin-top: 10px;
}

#title {
  display: inline-block;
  width: 50%;
  margin-left: 325px;
  margin-top: 20px;
} 

#status {
  margin-left: 10px;
}

#dropdown {

}
/* 
#dropdown {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 25%;
}

#info {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-right: 20px;
  margin-left: 10px;
  margin-bottom: 20px;
  width: 25%
}

#field {
  display: inline-block;
  width: 25%;
  margin-top: 20px;
  margin-left: 20px;
  height: 250px;
  width: 40%;
} */

.footer {
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 20px;
}

.column {
  float: left;
}

.left {
  width: 60%;
}

.right {
  width: 40%;
}