/* Set the size of the div element that contains the map */
#mapContainer {
  height: 400px;
  width: 400px;
  margin-left: 10px;
  margin-bottom: 50px;
}

#map {
  height: 100%;
  width: 100%;
}

.nicebox {
  background-color: white;
  border: 1px solid black;
  height: 40px;
  width: 250px;
  margin-top: -50px;
  padding: 8px 0px 2px;
  position: relative;
  text-align: center;
}


#legend {
  display: flex;
  display: -webkit-box;
  padding-top: 7px;
}

.color-key {
  background: linear-gradient(
    to right,
    #db4639 0%,
    #db7f29 17%,
    #d1bf1f 33%,
    #92c51b 50%,
    #48ba17 67%,
    #12ab24 83%,
    #0f9f59 100%
  );
  flex: 1;
  -webkit-box-flex: 1;
  margin: 0 5px;
  text-align: left;
  font-size: 1em;
  line-height: 1em;
}

#data-value {
  font-size: 1.3em;
  font-weight: bold;
}

#data-label {
  font-size: 1.3em;
  font-weight: normal;
  padding-right: 10px;
}

#data-label:after {
  content: ":";
}

#data-caret {
  margin-left: -5px;
  display: none;
  font-size: 14px;
  width: 14px;
}